@import 'https://fonts.googleapis.com/css?family=Lato:300,400';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    height: 100%;
    position: relative;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

a {
    color: #fff;
    text-decoration: none;
}

.nav-btn {
    width: 100%;
    height: 35px;
    padding-top: 4px;
    color: #D5D3D3;
    background-color: #212121;
    ;
    text-align: center;
    cursor: pointer;
    display: none;
}

.nav-btn:active {
    background-color: #090909;
}

header {
    height: 50px;
    width: 100%;
    background-color: #274C6B;
    display: none;
}

header .logo {
    opacity: 0.9;
    font-size: 120%;
    padding-top: 9px;
    padding-left: 8px;
    color: #fff;
}

header .logo span {
    font-weight: 300;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.sidebar {
    width: 250px;
    background-color: #302F2F;
    position: fixed;
    top: 0px;
    left: 0;
    bottom: 0;
    box-shadow: 1px 0px 10px #777;
}

.sidebar nav > a {
    font-size: 150%;
    display: inline-block;
    padding: 30px 0px;
    padding-left: 30px;
    opacity: 0.7;
    transition: all 0.2s;
}

.sidebar nav > a:hover {
    opacity: 1;
}

.sidebar nav a span {
    font-weight: 300;
}

.sidebar nav ul {
    list-style: none;
}

.sidebar nav ul li {
    font-size: 70%;
    padding: 19px 0;
    padding-left: 20px;
    border-bottom: 0.5px solid #111;
}

.main-content {
    background-color: #fafafa;
    width: calc(100% - 250px);
    height: 100%;
    margin-left: 250px;
    padding: 20px 30px;
}

.main-content .panel-wrapper {
    margin: 20px 0;
    box-shadow: 0px 1px 5px #777;
}

.main-content .panel-wrapper .panel-head {
    background-color: #00A5F2;
    color: #fff;
    padding: 10px 10px;
    border: 1px solid #00A5F2;
}

.main-content .panel-wrapper .panel-body {
    padding: 20px 10px;
    font-size: 80%;
}

h1{
    text-align:center;
}

.button-55 {
    align-self: center;
    background-color: white;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: relative;
    left:1000px;
}

.button-55:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.button-55:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

body{
    background-color: white;
}

.titless{
    color: black;
}

.mydatagrid {
    width: 80%;
    border: solid 2px black;
    min-width: 80%;
    padding-left: 30px;
    margin-top:30px;
    text-align:center;
    margin-left:150px;
}

.header {
    background-color: #646464;
    font-family: Arial;
    color: White;
    border: none 0px transparent;
    height: 25px;
    font-size: 16px;
}

.rows {
    background-color: #fff;
    font-family: Arial;
    font-size: 14px;
    color: #000;
    min-height: 25px;

    border: none 0px transparent;
}

.rows:hover {
    background-color: #ff8000;
    font-family: Arial;
    color: #fff;

}

.selectedrow {
    background-color: #ff8000;
    font-family: Arial;
    color: #fff;
    font-weight: bold;
    text-align: left;
}

.mydatagrid a  {
    background-color: Transparent;
    padding: 5px 5px 5px 5px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.mydatagrid a:hover  {
    background-color: #000;
    color: #fff;
}

.mydatagrid span {
    background-color: #c9c9c9;
    color: #000;
    padding: 5px 5px 5px 5px;
}

.pager {
    background-color: #646464;
    font-family: Arial;
    color: White;
    height: 30px;
    text-align: left;
}

.mydatagrid td {
    padding: 5px;
}

.mydatagrid th {
    padding: 5px;
}

#code, #name, #desc, #discount, #disc, #type{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#Button2, #Button3 {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    justify-content : center;
    align-items: center;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.custom-file-input {
    padding: 5px;
    color: #999;
    border: 1px solid #000;
    vertical-align: middle;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Browse';
    color: #666;
    display: inline-block;
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    margin: -3px 0 -3px -3px;
    padding: 5px 20px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-align: center;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

.custom-file-input:hover::before {
    border-color: black;
}

.custom-file-input:active {
    outline: 0;
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.auto-style1 {
    margin-top: 0px;
}

.err {
    color: red;
    font-weight: bold;
}